- content_for :title do
  Home page

- content_for :page_title do
  %h1 This is home page

%header.masthead{:style => "background-image: url(#{image_path("home-bg.jpg")})"}
  .overlay
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Welcome to my blog!
          %span.subheading A Blog Theme by start Rails project

.container
  .row
    .col-lg-8.col-md-10.mx-auto
      = page_title{yield(:page_title)}
  .row
    .col-lg-8.col-md-10.mx-auto
      %h2
        = t('.hello')
  .row
    .col-lg-8.col-md-10.mx-auto
      .post-preview
        %a{:href => "#"}
          %h2.post-title
            Man must explore, and this is exploration at its greatest
          %h3.post-subtitle
            Problems look mighty small from 150 miles up
        %p.post-meta
          Posted by
          %a{:href => "#"} Start Rails
          on September 24, 2018
      %hr/
      .post-preview
        %a{:href => "#"}
          %h2.post-title
            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
        %p.post-meta
          Posted by
          %a{:href => "#"} Start Rails
          on September 18, 2018
      %hr/
%hr/
